<div class="blog container" id="blog">
  <div class="row">
      <% blog.articles[0...4].each do |article| %>
        <article class="col s12 m6" style="padding-right: 2em;">
          <h1>
            <a href="<%= article.url %>"><%= article.title %></a>
            <time><%= article.date.strftime('%b %e %Y') %></time>
          </h1>

          <%= article.summary %>

          <a href="<%= article.url %>">Read more</a>
        </article>
      <% end %>
    </div>
  </div>
</div>
