<%= partial "parallax" %>

<div class="row">
  <div class="col s12">
    <div class="slider">
      <ul class="slides">
        <li>
          <a href="#about">
            <img src="images/white.png">
            <div class="caption left-align black-text">
              <h3>About US but Not Called About US</h3>
              <h4>Well really its just me.</h4>
              <h6>... well there are these other two guys</h6>
              <p class="black-text">kind of...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#current_clients">
            <img src="images/current.png">
          </a>
        </li>
        <li>
          <a href="#contact">
            <img src="images/white.png">
            <div class="caption center-align black-text">
              <h3>Ready to talk?</h3>
              <h5>Contact Us</h5>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<%= partial "parallax" %>
<div class="row col s12">
  <%= partial "about" %>
</div>
<%= partial "parallax" %>
<div class="row col s12">
  <%= partial "current_clients" %>
</div>
<%= partial "parallax" %>
<div class="row col s12">
  <%= partial "contact" %>
</div>
<%= partial "parallax" %>