<%= partial "parallax" %>

<div class="row col s12 slide_container">
  <ul class="rslides">
    <li>
      <a href="#about">
        <img src="images/white.png" alt="">
        <p class="caption">About Page</p>
      </a>
    </li>
    <li>
      <a href="#current_clients">
        <img src="images/current.png" alt="">
        <p class="caption">Current Clients</p>
      </a>
    </li>
    <li>
      <a href="#contact">
        <img src="images/white.png" alt="">
        <p class="caption">Contact Us</p>
      </a>
    </li>
  </ul>
</div>
<ul class"rslider_tab"></ul>

<%= partial "parallax" %>
<div class="row col s12">
  <%= partial "about" %>
</div>
<%= partial "parallax" %>
<div class="row col s12">
  <%= partial "current_clients" %>
</div>
<%= partial "parallax" %>
<div class="row col s12">
  <%= partial "products" %>
</div>
<%= partial "parallax" %>
<div class="row col s12">
  <%= partial "contact" %>
</div>
<%= partial "parallax" %>