

<div class="has-shadow row col s12 slide_container">
  <ul class="rslides">
    <li>
      <a href="#about">
        <img src="images/yoda_welcome.png" alt="">
        <p class="caption">Welcome Message From our Chief Security Officer</p>
      </a>
    </li>
    <li>
      <a href="#current_clients">
        <img src="images/current.png" alt="">
        <p class="caption">Current Clients</p>
      </a>
    </li>
    <li>
      <a href="#products">
        <img src="images/products.png" alt="" width="532" height="400px">
        <p class="caption">Products</p>
      </a>
    </li>
    <li>
      <a href="#contact">
        <img src="images/white.png" alt="">
        <p class="caption">Contact Us</p>
      </a>
    </li>
  </ul>
</div>

<%= partial "parallax" %>
<div class="has-shadow row col s12">
  <%= partial "about" %>
</div>
<%= partial "parallax" %>
<div class="has-shadow row col s12">
  <%= partial "current_clients" %>
</div>
<%= partial "parallax" %>
<div class="has-shadow row col s12">
  <%= partial "products" %>
</div>
<%= partial "parallax" %>
<div class="has-shadow row col s12">
  <%= partial "team" %>
</div>
<%= partial "parallax" %>
<div class="has-shadow row col s12">
  <%= partial "contact" %>
</div>
<%= partial "parallax" %>
